<div class="prof-name" ng-show="env.authorized">
    <a ng-class="{'prof-icon': env.hideUsername}">
        <span ng-show="!env.hideUsername">{{ profile['username'] }}</span>
    </a>
    <ul>
        <li>ID:<span class="selectable">{{profile.unique_id}}</span></li>
        <li ng-if="conf.header.messageIcon.enabled" class="message-icon" prevent-fast-click="1.5" trans ng-click="toggleSliderTab('messages');">My messages</li>
        <li class="settings-icon" prevent-fast-click="1.5" trans ng-click="toggleSliderTab('settings');">Settings</li>
        <li ng-if="conf.recentBetsInSettings" class="recentbets-icon" trans ng-click="toggleSliderTab('recentBets');">Recent Bets</li>
        <li ng-hide="env.hideLogOut" class="logoff-icon" trans ng-click="logOut()">Log Out</li>

    </ul>
</div>