<div class="betslip-wrapper-v3" ng-controller="betSlipController">
    <span ng-hide="true">{{possibleWinValue=posWin()}}</span>
    <div class="bet-accept-changes-b-v3" ng-if="env.authorized && (betConf.sections.enableMyGamesIcon || betConf.sections.enableMyBetsIcon)">
        <ul>
            <li ng-if="betConf.sections.enableMyGamesIcon" ng-click="broadcast('open.mygames');goToTop(true);$event.stopPropagation()">
                <div class="button-view-contain-v3">
                    <button>
                        <span trans>My games</span>
                        <span class="mygames-count" ng-show="myGames.length">({{myGames.length}})</span>
                    </button>
                </div>
            </li>
            <li ng-if="betConf.sections.enableMyBetsIcon" ng-click="broadcast('open.history');goToTop(true);$event.stopPropagation()">
                <div class="button-view-contain-v3">
                    <button trans>My bets</button>
                </div>
            </li>
        </ul>
    </div>
    <div class="batslip-contain-fixed-v3">
        <div class="betslip-title-v3">
            <div class="title-separator-b-v3">
                <div class="betslip-name-row-v3">
                    <h3>
                        <i trans>bet slip</i>
                    </h3>
                    <div class="betslip-icons-contain-v3">
                        <ul>
                            <li ng-if="conf.enableSystemCalculator">
                                <div class="icon-wrapper-b-v3 calculator-icon-betslip-v3" ng-click="$root.showSystemCalculator = !$root.showSystemCalculator"></div>
                            </li>
                            <li ng-show="betSlip.mode === 'betting' && !betSlip.superbet.selector && !counterOffer.enabled">
                                <div class="icon-wrapper-b-v3 settings-icon-betslip-v3" ng-click="shared.showBetSettings=!shared.showBetSettings"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="settings-contain-betslip-v3" ng-class="{'active': shared.showBetSettings}">
            <div class="all-settings-info-b-v3">
                <!-- <div class="pin-betslip-v3">
                        <div class="multi-view-sw-v3">
                            <p trans="" trans>Pin betslip</p>
                            <div class="switcher-view-b active">
                                <div class="sw-button-v3"></div>
                            </div>
                        </div>
                    </div>-->
                <div class="price-change-settings-v3">
                    <h4 trans>Automatically accept price changes</h4>
                    <ul>
                        <li>
                            <label>
                                <input type="radio" ng-model="shared.acceptPriceChanges" value="0" ng-disabled="shared.isBetsInProgress">
                                <span trans>Always ask</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="radio" ng-model="shared.acceptPriceChanges" value="1" ng-disabled="shared.isBetsInProgress">
                                <span trans>Accept Higher odds</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="radio" ng-model="shared.acceptPriceChanges" value="2" ng-disabled="shared.isBetsInProgress">
                                <span trans>Accept Any odds</span>
                            </label>
                        </li>
                    </ul>
                    <div class="save-settings-button-v3">
                        <button trans ng-click="shared.showBetSettings=!shared.showBetSettings">close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="open-bets-buttons" ng-click="selectBetSlipMode('auto', $event)" ng-if="(conf.enableBetBooking || conf.enableSuggestedBets || conf.openBetsAndEditBet)">
            <div class="bet-slip-button" ng-if="!conf.enableBetBooking && (conf.enableSuggestedBets || conf.openBetsAndEditBet) && env.authorized && $root.profile" data-mode="betting" ng-class="{'active': betSlip.mode === 'betting'}" trans>Bet slip</div>
            <div class="bet-slip-button" ng-if="conf.enableBetBooking && !quickBet.enabled && betConf.enabled" data-mode="betting" ng-class="{'active': betSlip.mode === 'betting'}" trans>Betting</div>
            <div class="booking-button" ng-if='conf.enableBetBooking && !quickBet.enabled' data-mode="booking" ng-class="{'active': betSlip.mode === 'booking'}" data-count="{{(conf.showEventsCountOnBookingMode && betSlip.mode === 'booking' && betSlip.bets.length) ? betSlip.bets.length : 0}}"
                trans>Booking</div>
            <div class="open-bets-button" ng-if='conf.openBetsAndEditBet && env.authorized && $root.profile' data-count="{{shared.openBets.length}}" data-mode="openBets" ng-class="{'active': betSlip.mode === 'openBets'}" trans>Open bets</div>
            <div class="suggested-bets-button" ng-if="conf.enableSuggestedBets && env.authorized && $root.profile" data-content="{{'new'|translate}}" data-mode="suggested" ng-class="{'active': betSlip.mode === 'suggested'}" trans>Suggested Bets</div>
        </div>
        <open-bets class="float-width" ng-if="conf.openBetsAndEditBet && env.authorized && $root.profile" bet-slip="betSlip" profile="$root.profile" shared-data="shared"></open-bets>
        <suggested-bets ng-if="conf.enableSuggestedBets && env.authorized && $root.profile" clear-betslip="clearBetslip" show-retains-buttons="showRetainsButtons" bet-slip="betSlip" select-bet-slip-mode="selectBetSlipMode"></suggested-bets>
        <div class="quick-bet-wrapper-v3" ng-hide="profile.sportsbook_profile_id == 26">
            <div class="separator-contain-q-v3" ng-class="{'active': quickBet.enabled}" ng-show="!betSlip.bets.length && (betSlip.mode === 'betting') && !betConf.quickBet.hideQuickBet">
                <div class="pin-betslip-v3">
                    <div class="multi-view-sw-v3">
                        <p trans>Quick bet</p>
                        <div class="switcher-view-b" ng-click="!env.authorized ? openLoginForm($event) : (!betSlip.bets.length && !shared.isBetsInProgress && (quickBet.enabled = !quickBet.enabled) && (isBetAccepted = false));" ng-class="{'active': quickBet.enabled}" title="{{betSlip.bets.length > 0 && ('Clear Bet Slip to activate Qiuck Bet'|translate) || (!env.authorized ? ('Please log-in to be able to use Quick bet functionality'|translate) : '')}}">
                            <div class="sw-button-v3"></div>
                        </div>
                    </div>
                </div>
                <!-- <div class="quick-bet-form-b-v3">
                     <ul>
                         <li>
                             <input type="text" placeholder="trans">
                         </li>
                         <li>
                             <button trans>Save</button>
                         </li>
                     </ul>
                 </div>-->
            </div>
        </div>
        <div class="superbet-contain-view-v3" ng-class="{active: betSlip.superbet.selector}" ng-show="betSlip.superbet.possible && (!betSlip.hasLiveEvents || betConf.allowSuperBetOnLive) && $root.profile.is_super_bet_available && !quickBet.enabled && (betSlip.type.value === 1 || betSlip.type.value === 2) && !$root.editBet.edit && betSlip.mode !== 'openBets' && betSlip.mode !== 'suggested'">
            <div class="super-bet-view-contain-v3">
                <div class="pin-betslip-v3">
                    <div class="multi-view-sw-v3">
                        <p>
                            <span trans>Superbet</span>
                            <span ng-show="betSlip.superbet.selector" trans>On</span>
                        </p>
                        <div class="switcher-view-b" ng-class="{active: betSlip.superbet.selector}" ng-click="togglesSuperbetSelector();">
                            <div class="sw-button-v3"></div>
                        </div>
                        <!--<div class="info-icon-superbet-v3"></div>-->
                    </div>
                </div>
                <div class="text-superbet-view-v3">
                    <p trans>SuperBet is a new offer that allows requesting a Max Bet Limit Increase for selected sporting events.</p>
                    <div class="icon-superbet-view-v3"></div>
                </div>
            </div>
        </div>
        <!--freebet-->
        <div class="freebet-wrapper-view-v3" ng-if="profile.has_free_bets && freeBet.list && freeBet.list.length && (betSlip.bets.length > 0 && betSlip.type.value != 1 || betSlip.bets.length == 1 && betSlip.type.value == 1 || betConf.fullCoverBetTypes.enabled) && betSlip.mode !== 'openBets' && betSlip.mode !== 'suggested'">
            <div class="superbet-contain-view-v3" ng-class="{active: freeBet.enabled}">
                <div class="super-bet-view-contain-v3">
                    <div class="pin-betslip-v3">
                        <div class="multi-view-sw-v3">
                            <p>
                                <span ng-show="!freeBet.enabled" trans>FreeBet available</span>
                                <span ng-show="freeBet.enabled" trans>FreeBet is ON</span>
                            </p>
                            <div class="switcher-view-b" ng-class="{active: freeBet.enabled}" ng-click="freeBet.enabled = !freeBet.enabled; freeBetStateChanged()">
                                <div class="sw-button-v3"></div>
                            </div>
                            <!--<div class="info-icon-superbet-v3"></div>-->
                        </div>
                    </div>
                    <div class="text-superbet-view-v3">
                        <p trans>Freebet is a new offer for making free bets.</p>
                        <div class="icon-superbet-view-v3"></div>
                    </div>
                </div>
            </div>
            <div class="choose-stake-freebet-v3">
                <h5 trans>Choose Stake</h5>
                <ul>
                    <li ng-repeat="freebetItem in freeBet.list">
                        <label>
                            <input ng-click="freeBetStateChanged($index)" value="{{$index}}" type="radio" ng-checked="freeBetSelectorRadio == $index">
                            <span>{{freebetItem.amount}} {{currency_name|currency}}</span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <!--freebet END-->
        <!--counter offer-->
        <div class="counter-offer-wrapper-view-v3" ng-if="profile.counter_offer_min_amount != null" ng-show="betSlip.counterOfferPossible && !env.live && !quickBet.enabled && betSlip.mode !== 'booking' && !betSlip.hasLiveEvents && !$root.editBet.edit && betSlip.mode !== 'openBets' && betSlip.mode !== 'suggested'">
            <div class="superbet-contain-view-v3" ng-class="{active: counterOffer.enabled}">
                <div class="super-bet-view-contain-v3">
                    <div class="pin-betslip-v3">
                        <div class="multi-view-sw-v3">
                            <p>
                                <span ng-show="!counterOffer.enabled" trans>Counter offer available</span>
                                <span ng-show="counterOffer.enabled" trans>Counter offer is ON</span>
                            </p>
                            <div class="switcher-view-b" ng-class="{active: counterOffer.enabled}" ng-click="toggleCounterOffer();">
                                <div class="sw-button-v3"></div>
                            </div>
                            <!--<div class="info-icon-superbet-v3"></div>-->
                        </div>
                    </div>
                    <div class="text-superbet-view-v3">
                        <p trans="">Counter Offer is a new option that allows suggesting preferable odds for selected sporting events.</p>
                        <div class="icon-superbet-view-v3"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--counter offer END-->
        <div class="betslip-info-view-b-v3" ng-show="!betSlip.bets.length && betSlip.mode !== 'openBets' && betSlip.mode !== 'suggested' && !quickBet.enabled || quickBet.enabled">
            <div class="betslip-text-info-v3">
                <p>
                    <i class="info-icon-bet-text-v3"></i>
                    <span ng-show="!betSlip.bets.length && !quickBet.enabled" trans>To select a bet, please click on any odd.</span>
                    <span ng-show="quickBet.enabled" trans>Click on any odd to place a bet.</span>

                </p>
            </div>
        </div>
        <div class="events-filter-row-b-v3" ng-show="!quickBet.enabled && betSlip.bets.length > 0 && betSlip.mode !== 'openBets' && betSlip.mode !== 'suggested'">
            <div class="mini-filters-box-v3">
                <ul>
                    <li ng-show="!betConf.fullCoverBetTypes.enabled">
                        <div class="time-filter-v3" ng-class="{'active': showBetTypeDropDown, 'time-filter-hide': $root.editBet.edit}">
                            <!--active-->
                            <p ng-show="betSlip.bets.length" ng-click="!shared.isBetsInProgress && (showBetTypeDropDown = !showBetTypeDropDown)" hide-on-click state-flag-var="showBetTypeDropDown">
                                <span>{{ betSlip.type.name| capitalise | translate }}</span>
                                <i class="arrow-rotate-filter-v3"></i>
                            </p>
                            <div class="sub-nav-filter-time-v3">
                                <ul>
                                    <li ng-repeat="type in betTypes track by type.value" ng-show="type.value < 5 || betConf.enableHorseRacingBetSlip" ng-hide="$root.editBet.edit && (type.value > 2 || (type.value == 1 && betSlip.bets.length > 1))" ng-class="{'active': betSlip.type.value === type.value}">
                                        <span ng-click="setBetSlipType(type.value)" context="bet type">{{type.name | capitalise | translate}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li ng-show="!betConf.fullCoverBetTypes.enabled" class="system-opt-v3">
                        <div class="time-filter-v3" ng-class="{'active': showSysBetDropDown}" ng-show="betSlip.bets.length > 2 && betSlip.type.value === 3 && (betSlip.bets.length - betSlip.bankerBetsCount > 1)" ng-click="!shared.isBetsInProgress && (showSysBetDropDown = !showSysBetDropDown)"
                            hide-on-click state-flag-var="showSysBetDropDown">
                            <p>
                                <span>
                                    {{sysBetSelectedValue}}/{{betSlip.bets.length -  betSlip.bankerBetsCount}} ({{calcSystemOptionsCount(sysBetSelectedValue)}}
                                    <span ng-hide="betConf.hideOptFromSystem" trans>opt.</span>)
                                </span>
                                <i class="arrow-rotate-filter-v3"></i>
                            </p>
                            <div class="sub-nav-filter-time-v3">
                                <ul>
                                    <li ng-repeat="sysVal in betSlip.sysValArray" ng-click="setSystemValue(sysVal)" ng-class="{'active': sysBetSelectedValue === sysVal }">
                                        <span>
                                            {{sysVal}}/{{betSlip.bets.length - betSlip.bankerBetsCount}} ({{calcSystemOptionsCount(sysVal)}}
                                            <b ng-hide="betConf.hideOptFromSystem" trans>opt.</b>)
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <button ng-show="betSlip.bets.length" ng-click="clearBetslip(); $root.editBet.edit = false; disableAddBets.addBet = false; $root.editBet.oldBetId = 0">
                            <span trans ng-show="!$root.editBet.edit">Clear All</span>
                            <span trans ng-show="$root.editBet.edit">Cancel</span>
                            <i class="remove-icon-betslip-v3"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="betslip-all-events-list-v3" ng-if="betSlip.mode !== 'openBets' && betSlip.mode !== 'suggested'">
            <div class="mini-list-events-b-v3">
                <ul>
                    <li ng-repeat="bet in betSlip.bets track by bet.eventId" ng-show="!bet.showInSelections" ng-class="{'blocked': ((bet.blocked || (bet.price | oddConvert:'decimal') == 1) && !bet.conflicts.length && !bet.deleted), 'deleted': bet.deleted, 'conflict': ((bet.conflicts.length && betSlip.type.value !== 1) && !bet.deleted), 'changed': (bet.price != bet.priceInitial && bet.oddType !== 'sp')}">
                        <div class="bet-event-teams-name-v3">
                            <div class="title-event-b-v3">
                                <label class="sistem-checkbox-view-v3" ng-show="betSlip.type.value === 3">
                                    <input type="checkbox" ng-model="bet.incInSysCalc" ng-checked="bet.incInSysCalc">
                                    <b></b>
                                </label>
                                <div class="betslip-event-icon-view blocked-icon-b-v3" ng-if="(bet.blocked || (bet.price | oddConvert:'decimal') == 1) && !bet.conflicts.length && !bet.deleted" title="Event Locked" trans></div>
                                <div class="betslip-event-icon-view blocked-icon-b-v3 deleted-bet-error-v3" ng-if="bet.deleted" title="This event is not available now" trans></div>
                                <div class="betslip-event-icon-view blocked-icon-b-v3 error-icon-b-v3" ng-show="(bet.conflicts.length && betSlip.type.value !== 1) && !bet.deleted" tooltip-element="conflict-{{bet.eventId}}" tooltip-delay="100">
                                    <div class="conflict-content-v3" id="conflict-{{bet.eventId}}">
                                        <ul>
                                            <li trans>This pick cannot be combined with:</li>
                                            <li ng-repeat="conflict in bet.conflicts">
                                                {{conflict.title}} - {{conflict.pick}}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <span ng-click="gotoBetGame(bet.gamePointer)">{{ bet.title }}</span>
                            </div>
                            <div class="remove-icon-betslip-v3" ng-click="removeBet(bet);"></div>
                        </div>
                        <div class="single-event-info-view-v3">
                            <ul>
                                <li>
                                    <p>{{bet.marketName}}</p>
                                </li>
                                <li>
                                    <p>
                                        <span>
                                            {{bet.eventType === 'P1' && bet.team1Name || bet.eventType === 'P2' && bet.team2Name || bet.pick|removeParts:[bet.marketName]}}
                                        </span>
                                        <span ng-show="bet.base !== undefined && !conf.hideGmsMarketBase" ng-class="{'gone' : bet.baseInitial !== bet.base }">
                                            ({{getDisplayBase(bet, 'initial')}})
                                        </span>
                                        <span ng-show="bet.baseInitial !== bet.base">
                                            ({{getDisplayBase(bet)}})
                                        </span>
                                    </p>
                                    <div class="bet-price-view-b-v3">
                                        <i ng-if="betConf.enableHorseRacingBetSlip && betConf.enableEachWayBetting && bet.ewAllowed && betSlip.type.value === 1 && betSlip.bets.length > 1">EW
                                            <input name="" ng-model="bet.eachWay" type="checkbox">
                                        </i>
                                        <span class="bet-price-v3">{{bet.oddType === 'sp' ? 'sp' : bet.price|oddConvert:env.oddFormat:null:bet.displayKey }}</span>
                                        <span class="bet-price-change-v3" ng-show="(bet.price != bet.priceInitial && bet.oddType !== 'sp')">{{ bet.priceInitial|oddConvert:env.oddFormat:null:bet.displayKey }}</span>
                                    </div>
                                </li>
                                <li class="stake-form-contain-v3" ng-if="profile.counter_offer_min_amount != null" ng-show="betSlip.type.value === 1 && counterOffer.enabled && betSlip.mode !== 'booking'">
                                    <ul>
                                        <li>
                                            <input comma comma-enable={{conf.enableCommaSeparateNumber}} comma-decimal="enable" comma-dot="{{conf.enableDotInsteadComma}}" prevent-input="{{conf.stakeAmountPreventInput}}" placeholder="{{'Your offer' | translate}}" maxlength="11" ng-model="bet.counterOffer"
                                                numpad type="text" maxlength="8">
                                        </li>
                                        <li>
                                            <div class="stake-max-bet-v3" ng-click="bet.counterOffer = bet.maxCounterOffer">
                                                <span class="single-bet-maxbet-view-v3">
                                                    <b trans>Max</b>
                                                    <b>{{ bet.maxCounterOffer = ((bet.price / (1 - $root.partnerConfig.odds_raised_percent * 0.01))|counterOfferRounding)|oddConvert:env.oddFormat:null:bet.displayKey }}</b>
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="stake-form-contain-v3" ng-show="betSlip.type.value === 1 && betSlip.bets.length > 1 && !$root.editBet.edit" ng-if="!freeBet.enabled">
                            <ul>
                                <li>
                                    <input id="{{'single-bet-input-1-' + bet.eventId}}" comma comma-enable={{conf.enableCommaSeparateNumber}} comma-decimal="enable" comma-dot="{{conf.enableDotInsteadComma}}" prevent-input="{{conf.stakeAmountPreventInput}}" ng-focus="(betSlip.stake == 0) && (betSlip.stake = '')"
                                        ng-model="bet.singleStake" numpad type="text" placeholder="{{conf.betslipInputFieldCustomValue | translate}}" maxlength="8" focus-on="bet{{bet.eventId}}" ng-keypress="betFromKeyboard($event)" ng-keyup="bet.singleUnitStake = bet.singleStake / 2"
                                        ng-change="singleBetTypeAmountChange()">
                                </li>
                                <li ng-show="betSlip.mode !== 'booking'">
                                    <div class="stake-max-bet-v3" ng-show="env.authorized && betSlip.type.value === 1 && !counterOffer.enabled">
                                        <span class="single-bet-stake-repeat-v3" ng-show="$first && betSlip.bets.length > 1" ng-click="repeatSingleStake(bet.singleStake);singleBetTypeAmountChange();" title="Repeat for all" trans><i></i></span>
                                        <span class="single-bet-maxbet-view-v3" ng-show="(betSlip.mode === 'betting') && !betConf.disableMaxBet" ng-click="bet.singleStake = getMaxBet(bet)" trans>Max</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="possible-win-view-v3" ng-if="env.authorized && counterOffer.enabled && betSlip.bets.length > 1">
                            <div class="bet-win-view-v3">
                                <p>
                                    <i trans>Min Offer Amount:</i>
                                </p>
                                <span>
                                    <b>{{ profile.counter_offer_min_amount.toFixed(currency.rounding)|number:conf.balanceFractionSize }} {{currency_name|currency}}</b>
                                </span>
                            </div>
                        </div>
                        <div ng-show="betSlip.type.value === 1 && betSlip.bets.length > 1 && bet.singlePosWin > 0">
                            <div class="possible-win-view-v3" ng-if="!taxOnStake.enabled">
                                <div class="bet-win-view-v3">
                                    <p>
                                        <i trans>Possible win:</i>
                                    </p>
                                    <span>
                                        <b>{{bet.singlePosWin|number:conf.balanceFractionSize}} {{currency_name|currency}}</b>
                                    </span>
                                </div>
                            </div>
                            <div class="display-float" ng-if="$root.partnerConfig && $root.partnerConfig.tax_percent && {1:1,20:1}[$root.partnerConfig.tax_type]">
                                <!-- tax_type: 1 - tax on profit ; 4 - tax on stack 20 - tax on profit as fictive-->
                                <div class="bet-win-view-v3">
                                    <div>
                                        <p><i trans>Tax:</i></p>
                                        <span><b>{{(bet.singlePosWin - ($root.partnerConfig.tax_type===1?bet.singleStake:0)) *  partnerConfig.tax_percent/100|number:conf.balanceFractionSize}} {{currency_name|currency}}</b></span>
                                    </div>
                                    <div ng-if="$root.partnerConfig.tax_type===20">
                                        <p><i trans>Winning bonus:</i></p>
                                        <span><b>{{bet.singlePosWin *  partnerConfig.tax_percent/100|number:conf.balanceFractionSize}} {{currency_name|currency}}</b></span>
                                    </div>
                                </div>
                                <div class="bet-win-view-v3">
                                    <div>
                                        <p><i trans>Final Payout:</i></p>
                                        <span><b>{{(bet.singlePosWin - ($root.partnerConfig.tax_type===1 ? (bet.singlePosWin - bet.singleStake) * partnerConfig.tax_percent/100 : 0))|number:conf.balanceFractionSize}} {{currency_name|currency}}</b></span>
                                    </div>
                                </div>
                            </div>
                            <div class="display-float" ng-if="taxOnStake.enabled">
                                <div class="bet-win-view-v3">
                                    <div>
                                        <p><i>{{$root.partnerConfig.tax_percent}}% tax on stake:</i></p>
                                        <span><b>{{(bet.singleStake * ($root.partnerConfig.tax_percent/100))|number:3}} {{currency_name|currency}}</b></span>
                                    </div>
                                </div>
                                <div class="bet-win-view-v3">
                                    <div>
                                        <p><i trans>Total Stake:</i></p>
                                        <span><b>{{(bet.singleStake - (bet.singleStake * ($root.partnerConfig.tax_percent/100))) | number:3}} {{currency_name|currency}}</b></span>
                                    </div>
                                </div>
                                <div class="bet-win-view-v3">
                                    <div>
                                        <p><i trans>Final Payout:</i></p>
                                        <span><b>{{(bet.singlePosWin - (bet.singlePosWin * ($root.partnerConfig.tax_percent/100)))|number:conf.balanceFractionSize}} {{currency_name|currency}}</b></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="edit-bets-contain" ng-show="$root.editBet.edit">
                <div class="edit-bets-time-id">
                    <p>{{$root.editBet.dateTime|formatDate:(conf.layoutTimeFormat[conf.sportsLayout] || 'noLocaleTranslate')}} {{conf.layoutTimeFormat[conf.sportsLayout]? (bet.date_time|formatDate:'hour':null:env.timeFormat): ''}}</p>
                    <span>ID: <b>{{$root.editBet.oldBetId}}</b></span>
                </div>
                <p>Add or swap selections</p>
                <div class="add-bet-selections" ng-show="($root.editBet.edit && !$root.editBet.openSelectionsPart) || ($root.editBet.edit && betSlip.bets.length === 0)">
                    <p ng-show="$root.editBet.edit && !$root.editBet.openSelectionsPart" ng-click="addSelections(true);">Add selection</p>
                    <span ng-show="$root.editBet.edit && betSlip.bets.length === 0" ng-click="clearBetslip(); $root.editBet.edit = false; disableAddBets.addBet = false; $root.editBet.oldBetId = 0">Cancel</span>
                </div>
                <div class="bets-selections-content" ng-show="$root.editBet.openSelectionsPart">
                    <div class="all-bet-selections">
                        <p class="clear-all-bet-selections">New selections<i class="remove-icon-betslip-v3" ng-click="removeNewSelectionsFromBetSlip()"></i></p>
                        <button ng-hide="disableAddBets.newSelections || emptyNewSelections" ng-click="addSelections()">Add to bet</button>
                    </div>
                    <div class="mini-list-events-b-v3">
                        <p class="empty-edit-bet-list" ng-show="emptyNewSelections" trans>Browse the site and click an event to add selections to your existing bet.</p>
                        <ul>
                            <li ng-repeat="bet in betSlip.bets track by bet.eventId" ng-show="bet.showInSelections" ng-class="{'blocked': ((bet.blocked || (bet.price | oddConvert:'decimal') == 1) && !bet.conflicts.length && !bet.deleted), 'deleted': bet.deleted, 'conflict': ((bet.conflicts.length && betSlip.type.value !== 1) && !bet.deleted), 'changed': (bet.price != bet.priceInitial && bet.oddType !== 'sp')}">
                                <div class="bet-event-teams-name-v3">
                                    <div class="title-event-b-v3">
                                        <label class="sistem-checkbox-view-v3" ng-show="betSlip.type.value === 3">
                                            <input type="checkbox" ng-model="bet.incInSysCalc" ng-checked="bet.incInSysCalc">
                                            <b></b>
                                        </label>
                                        <div class="betslip-event-icon-view blocked-icon-b-v3" ng-if="(bet.blocked || (bet.price | oddConvert:'decimal') == 1) && !bet.conflicts.length && !bet.deleted" title="Event Locked" trans></div>
                                        <div class="betslip-event-icon-view blocked-icon-b-v3 deleted-bet-error-v3" ng-if="bet.deleted" title="This event is not available now" trans></div>
                                        <div class="betslip-event-icon-view blocked-icon-b-v3 error-icon-b-v3" ng-show="(bet.conflicts.length && betSlip.type.value !== 1) && !bet.deleted" tooltip-element="conflict-{{bet.eventId}}" tooltip-delay="100">
                                            <div class="conflict-content-v3" id="conflict-{{bet.eventId}}">
                                                <ul>
                                                    <li trans>This pick cannot be combined with:</li>
                                                    <li ng-repeat="conflict in bet.conflicts">
                                                        {{conflict.title}} - {{conflict.pick}}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <span ng-click="gotoBetGame(bet.gamePointer)">{{ bet.title }}</span>
                                    </div>
                                    <div class="remove-icon-betslip-v3" ng-click="removeBet(bet)"></div>
                                </div>
                                <div class="single-event-info-view-v3">
                                    <ul>
                                        <li>
                                            <p>{{bet.marketName}}</p>
                                        </li>
                                        <li>
                                            <p>
                                                <span>
                                            {{bet.eventType === 'P1' && bet.team1Name || bet.eventType === 'P2' && bet.team2Name || bet.pick|removeParts:[bet.marketName]}}
                                        </span>
                                                <span ng-show="bet.base !== undefined && !conf.hideGmsMarketBase" ng-class="{'gone' : bet.baseInitial !== bet.base }">
                                            ({{getDisplayBase(bet, 'initial')}})
                                        </span>
                                                <span ng-show="bet.baseInitial !== bet.base">
                                            ({{getDisplayBase(bet)}})
                                        </span>
                                            </p>
                                            <div class="bet-price-view-b-v3">
                                                <i ng-if="betConf.enableHorseRacingBetSlip && betConf.enableEachWayBetting && bet.ewAllowed && betSlip.type.value === 1 && betSlip.bets.length > 1">EW
                                                    <input name="" ng-model="bet.eachWay" type="checkbox">
                                                </i>
                                                <span class="bet-price-v3">{{ bet.price|oddConvert:env.oddFormat:null:bet.displayKey }}</span>
                                                <span class="bet-price-change-v3" ng-show="(bet.price != bet.priceInitial && bet.oddType !== 'sp')">{{ bet.priceInitial|oddConvert:env.oddFormat:null:bet.displayKey }}</span>
                                            </div>
                                        </li>
                                        <li class="stake-form-contain-v3" ng-if="profile.counter_offer_min_amount != null" ng-show="betSlip.type.value === 1 && counterOffer.enabled && betSlip.mode !== 'booking'">
                                            <ul>
                                                <li>
                                                    <input comma comma-enable={{conf.enableCommaSeparateNumber}} comma-decimal="enable" comma-dot="{{conf.enableDotInsteadComma}}" prevent-input="{{conf.stakeAmountPreventInput}}" placeholder="{{'Your offer' | translate}}" maxlength="11" ng-model="bet.counterOffer"
                                                        numpad type="text" maxlength="8">
                                                </li>
                                                <li>
                                                    <div class="stake-max-bet-v3" ng-click="bet.counterOffer = bet.maxCounterOffer">
                                                        <span class="single-bet-maxbet-view-v3">
                                                    <b trans>Max</b>
                                                    <b>{{ bet.maxCounterOffer = ((bet.price / (1 - $root.partnerConfig.odds_raised_percent * 0.01))|counterOfferRounding)|oddConvert:env.oddFormat:null:bet.displayKey }}</b>
                                                </span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div ng-show="betSlip.type.value === 1 && betSlip.bets.length > 1 && bet.singlePosWin > 0">
                                    <div class="possible-win-view-v3">
                                        <div class="bet-win-view-v3">
                                            <p>
                                                <i trans>Possible win:</i>
                                            </p>
                                            <span>
                                        <b>{{bet.singlePosWin|number:conf.balanceFractionSize}} {{currency_name|currency}}</b>
                                    </span>
                                        </div>
                                    </div>
                                    <div class="display-float" ng-if="$root.partnerConfig && $root.partnerConfig.tax_percent && {1:1,20:1}[$root.partnerConfig.tax_type]">
                                        <!-- tax_type: 1 - tax on profit ; 4 - tax on stack 20 - tax on profit as fictive-->
                                        <div class="bet-win-view-v3">
                                            <div>
                                                <p><i trans>Tax:</i></p>
                                                <span><b>{{(bet.singlePosWin - ($root.partnerConfig.tax_type===1?bet.singleStake:0)) *  partnerConfig.tax_percent/100|number:conf.balanceFractionSize}} {{currency_name|currency}}</b></span>
                                            </div>
                                            <div ng-if="$root.partnerConfig.tax_type===20">
                                                <p><i trans>Winning bonus:</i></p>
                                                <span><b>{{bet.singlePosWin *  partnerConfig.tax_percent/100|number:conf.balanceFractionSize}} {{currency_name|currency}}</b></span>
                                            </div>
                                        </div>
                                        <div class="bet-win-view-v3">
                                            <div>
                                                <p><i trans>Final Payout:</i></p>
                                                <span><b>{{(bet.singlePosWin - (bet.singlePosWin - bet.singleStake) * partnerConfig.tax_percent/100)|number:conf.balanceFractionSize}} {{currency_name|currency}}</b></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="any-info-betslip-contain-v3">
                <div ng-if="betConf.fullCoverBetTypes.enabled" ng-show="betSlip.bets.length > 1" class="accumulator-multiples">
                    <div class="accumulator-multiples-title-collapse" ng-click="fullCoverBet.expanded = !fullCoverBet.expanded" ng-class="{'active': fullCoverBet.expanded}" trans>Accumulators / Multiples</div>
                    <div class="accumulator-multiples-data-wrapper">
                        <div class="accumulator-multiples-table">
                            <table>
                                <tr>
                                    <th colspan="2">
                                        <p trans>Bet Type</p>
                                    </th>
                                    <th>
                                        <p trans>Uni Stake</p>
                                    </th>
                                </tr>
                                <tr ng-repeat="(key, type) in fullCoverBet.types track by $index" ng-hide="!fullCoverBet.expanded && type.count !== 1 || (freeBet.enabled && !type.totalCoef)">
                                    <td>
                                        <p ng-bind="type.name" ng-class="{'accumulator-total-coef': type.totalCoef}"></p>
                                        <p ng-show="type.totalCoef" ng-bind="type.totalCoef"></p>
                                    </td>
                                    <td>
                                        <i title="{{(key + '_type_description') | translate}}" class="info-icon"></i>
                                    </td>
                                    <td>
                                        <div class="stake-form-contain-v3">
                                            <ul>
                                                <li>
                                                    <div class="accumulator-multiples-count">{{ type.count }}x</div>
                                                </li>
                                                <li>
                                                    <input comma comma-enable={{conf.enableCommaSeparateNumber}} comma-decimal="enable" comma-dot="{{conf.enableDotInsteadComma}}" prevent-input="{{conf.stakeAmountPreventInput}}" ng-disabled="freeBet.enabled" ng-model="type.amount" numpad type="text" ng-change="fullCoverTypeAmountChange(key, type.amount)"
                                                        placeholder="{{conf.betslipInputFieldCustomValue | translate}}" maxlength="8">
                                                </li>
                                                <li>
                                                    <div ng-show="key !== 'Singles' && env.authorized" class="stake-max-bet-v3">
                                                        <span class="single-bet-maxbet-view-v3" ng-click="getMaxBet(betSlip.bets, type)" trans>Max</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <!--bonus bet-->
                <div ng-if="profile.bonus_money" class="freebet-wrapper-view-v3" ng-show="!$root.editBet.edit">
                    <div class="superbet-contain-view-v3" ng-class="{active: bonusBet.enabled}">
                        <div class="super-bet-view-contain-v3">
                            <div class="pin-betslip-v3">
                                <div class="multi-view-sw-v3">
                                    <p>
                                        <span ng-show="!bonusBet.enabled" trans>Available Bonus</span>
                                        <span ng-show="bonusBet.enabled" trans>Bonus is enabled</span>
                                        <span>({{ profile.bonus_money }} {{currency_name|currency}})</span>
                                    </p>
                                    <div class="switcher-view-b" ng-class="{active: bonusBet.enabled}" ng-click="bonusBet.enabled = !bonusBet.enabled;">
                                        <div class="sw-button-v3"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--bonusbet END-->
                <div class="all-events-info-stake-v3" ng-show="(betSlip.bets.length > 0 || quickBet.enabled)">
                    <div class="booking-id-text-v3" ng-show="betSlip.mode === 'booking' && betSlip.bookingResultId">
                        <span trans>Booking ID:</span>
                        <span>&nbsp;{{betSlip.bookingResultId}}</span>
                        <i ng-show="conf.bookingBetPrint.showPrintButton" ng-click="openBookingPrintPopup(betSlip.bookingResultId)"></i>
                    </div>
                    <div class="odds-contain-ew-v3" ng-show="(!betSlip.eachWayMode && !betSlip.hasSpOddTypes && betSlip.bets.length > 1 && betSlip.type.value == 2 && !quickBet.enabled || betConf.enableHorseRacingBetSlip && betConf.enableEachWayBetting && betSlip.hasEachWayReadyEvents && !(betSlip.type.value === 1 && betSlip.bets.length > 1)) || $root.editBet.edit">
                        <label class="ew-box-v3" ng-if="betConf.enableHorseRacingBetSlip && betConf.enableEachWayBetting && betSlip.hasEachWayReadyEvents && !(betSlip.type.value === 1 && betSlip.bets.length > 1)">
                            <input type="checkbox" ng-model="betSlip.eachWayMode">
                            <span class="ew-total-view-v3">ew</span>
                        </label>
                        <p ng-show="!betSlip.eachWayMode && !betSlip.hasSpOddTypes && betSlip.bets.length > 1 && betSlip.type.value == 2 && !quickBet.enabled">
                            <b trans>Odds:</b>
                            <span>{{betSlip.expOdds|oddConvert:((env.oddFormat === 'hongkong' && conf.specialOddFormat)? conf.specialOddFormat.hongkong.default : env.oddFormat):'fictional'}}</span>
                        </p>
                        <div class="editing-stake-wrapper" ng-show="$root.editBet.edit">
                            <div class="editing-stake-wrapper-p" trans>Editing uses the cash out value of this bet</div>
                            <div class="editing-stake-wrapper-con" ng-show="!betSlip.eachWayMode && !betSlip.hasSpOddTypes && !quickBet.enabled && $root.editBet.edit && $root.editBet.stakeAmount >= $root.partnerConfig.min_bet_stakes[$root.profile.currency_name]">
                                <div class="editing-stake-wrapper-p" trans>New stake amount:</div>
                                <div class="editing-stake-amount">
                                    <div class="editing-stake-pos-rel">
                                        <u ng-click="toggleStakeTooltip()"><b>{{$root.editBet.stakeAmount }} {{currency_name|currency}}</b></u>
                                        <div class="increase-stake-tooltip" ng-if="$root.editBet.increaseStake.tooltip">
                                            <div class="editing-stake-wrapper-p" trans>Increase Stake</div>
                                            <div class="increase-stake-input">
                                                <input comma comma-enable={{conf.enableCommaSeparateNumber}} comma-decimal="enable" comma-dot="{{conf.enableDotInsteadComma}}" prevent-input="{{conf.stakeAmountPreventInput}}" name="" numpad numpad-letters="disabled" ng-model="$root.editBet.increaseStake.amount"
                                                    ng-model-options="{ debounce: 100 }" type="text" ng-keyup="$event.keyCode === 13 ? toggleStakeTooltip(true) : null" maxlength="11" placeholder="Amount To Add" auto-focus />
                                            </div>
                                            <div class="increase-stake-footer">
                                                <div class="editing-stake-wrapper-p">
                                                    <span trans>New Return</span>
                                                    <strong ng-bind="possibleWinValue | number:conf.balanceFractionSize"></strong>
                                                </div>
                                                <div class="editing-stake-wrapper-p" ng-show="betSlip.totalStake - $root.editBet.stakeAmount > profile.calculatedBalance + profile.calculatedBonus">
                                                    <span trans>Insufficient balance</span>
                                                </div>
                                                <div class="button-view-contain-v3">
                                                    <button ng-click="toggleStakeTooltip(true)">
                                                        <span ng-class="{'disabled': betSlip.totalStake - $root.editBet.stakeAmount > profile.calculatedBalance + profile.calculatedBonus}" trans>Ok</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <strong ng-show="$root.editBet.increaseStake.savedAmount" ng-bind="'+ ' + $root.editBet.increaseStake.savedAmount"></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="stake-form-contain-v3" ng-class="{'two-fields-v3': (betSlip.hasEachWayReadyEvents && !(betSlip.bets.length > 1 && betSlip.type.value === 1) && betSlip.eachWayMode || betSlip.bets.length > 2 && betSlip.type.value === 3)} " ng-show="!freeBet.selected && !$root.editBet.edit">
                        <ul>
                            <li ng-show="betSlip.hasEachWayReadyEvents && !(betSlip.bets.length > 1 && betSlip.type.value === 1) && betSlip.eachWayMode || betSlip.bets.length > 2 && betSlip.type.value === 3">
                                <input id="express-unitbet-input" numpad prevent-input="{{conf.stakeAmountPreventInput}}" ng-focus="(betSlip.stake == 0) && (betSlip.stake = '')" ng-model="betSlip.unitStake" type="text" placeholder="Unit Stake" trans maxlength="8" ng-show="betSlip.type.value !== 1 || quickBet.enabled || betSlip.bets.length === 1"
                                    ng-disabled="shared.isBetsInProgress" focus-on="bet" ng-keypress="betFromKeyboard($event)" onkeyup="this.value=this.value.replace(/,/g, '.')">
                            </li>
                            <li>
                                <input id="express-bet-input" comma comma-enable={{conf.enableCommaSeparateNumber}} comma-decimal="enable" comma-dot="{{conf.enableDotInsteadComma}}" ng-focus="(betSlip.stake == 0) && (betSlip.stake = '')" prevent-input="{{conf.stakeAmountPreventInput}}"
                                    name="" numpad numpad-letters="disabled" ng-model="betSlip.stake" type="text" placeholder="{{conf.betslipInputFieldCustomValue | translate}}" maxlength="11" ng-show="betSlip.type.value !== 1 || quickBet.enabled || betSlip.bets.length === 1"
                                    ng-disabled="(shared.isBetsInProgress || (betConf.disableStakeInSystemType && betSlip.type.value === 3))" focus-on="bet" ng-keypress="!showRetainsButtons && betFromKeyboard($event)">
                            </li>
                            <li ng-show="(betSlip.mode === 'betting') && env.authorized && (betSlip.type.value === 2 || (betSlip.type.value === 1 && betSlip.bets.length === 1 && !counterOffer.enabled)) && !betConf.disableMaxBet && !quickBet.enabled">
                                <div class="stake-max-bet-v3" ng-class="{'pointer-events-none': betConf.disableMaxButtonInBetProgress && shared.isBetsInProgress}" ng-click="bet.singleStake = getMaxBet(betSlip.bets)">
                                    <span class="single-bet-maxbet-view-v3" trans>Max</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="possible-win-view-v3" ng-if="env.authorized && counterOffer.enabled && betSlip.bets.length === 1">
                        <div class="bet-win-view-v3">
                            <p>
                                <i trans>Min Offer Amount:</i>
                            </p>
                            <span>
                                <b>{{ (profile.counter_offer_min_amount).toFixed(currency.rounding)|number:conf.balanceFractionSize }} {{currency_name|currency}}</b>
                            </span>
                        </div>
                    </div>
                    <div class="odds-contain-ew-v3" ng-show="betConf.maxOddsWarning && betConf.totalOddsMax && betSlip.expOdds >= betConf.totalOddsMax && betSlip.bets.length > 1">
                        <p class="bet-win-view-v3">
                            <span>{{betConf.maxOddsWarning|translate:[betConf.totalOddsMax]}}</span>
                        </p>
                    </div>
                    <div class="odds-contain-ew-v3" ng-show="betSlip.maxOddsWarningAmount">
                        <p class="bet-win-view-v3">
                            <span class="max-odds-info-text" ng-bind="'The maximum odds of {1} has been reached'|translate:[betSlip.maxOddsWarningAmount]"></span>
                        </p>
                    </div>
                    <div class="possible-win-view-v3">
                        <div class="bet-win-view-v3" ng-show="betConf.fullCoverBetTypes.enabled">
                            <p>
                                <i trans>Total Stake:</i>
                            </p>
                            <span>
                                <b>{{betSlip.totalStake|number:conf.balanceFractionSize}} {{currency_name|currency}}</b>
                            </span>
                        </div>

                        <div ng-hide="betSlip.type.value === 1 && betSlip.bets.length > 1 && !betConf.fullCoverBetTypes.enabled || possibleWinValue === 0">
                            <!-- tax_type: 1 - tax on profit ; 4 - tax on stack 20 - tax on profit as fictive-->
                            <div class="bet-win-view-v3 possible-win-row" ng-show="!taxOnStake.enabled" ng-class="!($root.partnerConfig && $root.partnerConfig.tax_percent && {1:1,20:1}[$root.partnerConfig.tax_type]) && !taxOnStake.enabled && !(betConf.enableExpressBonus && betSlip.expBonus > 0 && betSlip.bets.length > betConf.expressBonusVisibilityQty && betSlip.type.value === 2) ? 'total-possible-win-j' : ''">
                                <p>
                                    <i trans>Possible win:</i>
                                </p>
                                <span>
                                    <b>{{possibleWinValue | number:conf.balanceFractionSize}} {{currency_name|currency}}</b>
                                </span>
                            </div>
                            <!-- tax_type: 1 - tax on profit ; 4 - tax on stack 20 - tax on profit as fictive-->
                            <div class="display-float" ng-if="($root.partnerConfig && $root.partnerConfig.tax_percent && {1:1,20:1}[$root.partnerConfig.tax_type]) && !(betConf.enableExpressBonus && betSlip.expBonus > 0 && betSlip.bets.length > betConf.expressBonusVisibilityQty && betSlip.type.value === 2)">
                                <div class="bet-win-view-v3 possible-win-row">
                                    <div>
                                        <p><i trans>Tax:</i></p>
                                        <span><b>{{possibleWinTax | number:conf.balanceFractionSize}} {{currency_name|currency}}</b></span>
                                    </div>
                                    <div ng-if="$root.partnerConfig.tax_type===20">
                                        <p><i trans>Winning bonus:</i></p>
                                        <span><b>{{possibleWinTax | number:conf.balanceFractionSize}} {{currency_name|currency}}</b></span>
                                    </div>
                                </div>
                                <div class="total-possible-win-j">
                                    <p><i trans>Final Payout:</i></p>
                                    <span><b>{{finalWinTaxValue | number:conf.balanceFractionSize}} {{currency_name|currency}}</b></span>
                                </div>
                            </div>
                            <div class="display-float" ng-if="taxOnStake.enabled">
                                <div class="bet-win-view-v3 possible-win-row">
                                    <div>
                                        <p><i>{{$root.partnerConfig.tax_percent}}% tax on stake:</i></p>
                                        <span><b>{{taxOnStake.tax | number:3}} {{currency_name|currency}}</b></span>
                                    </div>
                                </div>
                                <div class="bet-win-view-v3 possible-win-row">
                                    <div>
                                        <p><i trans>Total Stake:</i></p>
                                        <span><b>{{taxOnStake.total| number:3}} {{currency_name|currency}}</b></span>
                                    </div>
                                </div>
                                <div class="total-possible-win-j" ng-hide="betConf.enableExpressBonus && totalPossibleWin != undefined">
                                    <p><i trans>Final Payout:</i></p>
                                    <span><b>{{taxOnStake.posWin | number:conf.balanceFractionSize}} {{currency_name|currency}}</b></span>
                                </div>
                            </div>
                        </div>
                        <div ng-if="betConf.enableExpressBonus && !(betConf.hideIfOverMaxOdds && betSlip.expOdds >= betConf.totalOddsMax)" ng-show="!betSlip.hasSpOddTypes && betSlip.bets.length > betConf.expressBonusVisibilityQty && betSlip.type.value === 2 && possibleWinValue > 0 && betSlip.expBonus > 0 && betSlip.expBonusPercentage > 0 ">
                            <div class="bet-win-view-v3 acc-bonus-v3">
                                <p>
                                    <i><span trans>Bonus percentage</span>:</i>
                                </p>
                                <span>
                                    <b>{{betSlip.expBonusPercentage}}</b>
                                </span>
                            </div>
                            <div class="bet-win-view-v3 acc-bonus-v3">
                                <p>
                                    <i><span trans>Accumulator Bonus</span>:</i>
                                </p>
                                <span>
                                    <b>{{betSlip.expBonus|number:conf.balanceFractionSize}} {{currency_name|currency}}</b>
                                </span>
                            </div>
                            <div class="bet-win-view-v3 total-v3" ng-class="!($root.partnerConfig && $root.partnerConfig.tax_percent && {1:1,20:1}[$root.partnerConfig.tax_type]) ? 'total-possible-win-j' : ''">
                                <!-- tax_type: 1 - tax on profit ; 4 - tax on stack 20 - tax on profit as fictive-->
                                <p>
                                    <i trans>Total win:</i>
                                </p>
                                <span>
                                <b>{{totalPossibleWin|number:conf.balanceFractionSize}} {{currency_name|currency}}</b>
                            </span>
                            </div>
                            <div class="display-float" ng-if="$root.partnerConfig && $root.partnerConfig.tax_percent && {1:1,20:1}[$root.partnerConfig.tax_type]">
                                <!-- tax_type: 1 - tax on profit ; 4 - tax on stack 20 - tax on profit as fictive-->
                                <div class="bet-win-view-v3 possible-win-row">
                                    <div>
                                        <p><i trans>Tax:</i></p>
                                        <span><b>{{possibleWinBonusTax | number:conf.balanceFractionSize}} {{currency_name|currency}}</b></span>
                                    </div>
                                    <div ng-if="$root.partnerConfig.tax_type===20">
                                        <p><i trans>Winning bonus:</i></p>
                                        <span><b>{{possibleWinBonusTax | number:conf.balanceFractionSize}} {{currency_name|currency}}</b></span>
                                    </div>
                                </div>
                                <div class="total-possible-win-j">
                                    <p><i trans>Final Payout:</i></p>
                                    <span><b>{{finalWinBonusTaxValue | number:conf.balanceFractionSize}} {{currency_name|currency}}</b></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bet-notification-contain-v3" ng-show="betSlip.mode !== 'booking' && isBetAccepted && !counterOffer.enabled && $root.offersCount === 0  || betSlip.generalBetResult || quickBet.enabled && ((quickBet.status === 'accepted') || (quickBet.status === 'error'))">
            <div class="notification-box-v3">
                <div class="notification-icon-v3" ng-class="{'error-icon': betSlip.generalBetResult && !quickBet.enabled && !isBetOnHold || quickBet.enabled && quickBet.status === 'error', 'accept-icon': !quickBet.enabled && isBetAccepted || quickBet.enabled && (quickBet.status === 'accepted')}"></div>
                <p ng-show="!quickBet.enabled && isBetAccepted && !isSuperbet && !counterOffer.enabled || quickBet.enabled && (quickBet.status === 'accepted')" title="Your bet is accepted." trans>Your bet is accepted.</p>
                <p ng-show="!quickBet.enabled && isBetAccepted && isSuperbet && !counterOffer.enabled" title="Superbet is under review." trans>Superbet is under review.</p>
                <p ng-show="!quickBet.enabled && betSlip.generalBetResult" title="{{betSlip.generalBetResult}}">{{betSlip.generalBetResult }}</p>
                <p ng-show="!quickBet.enabled && betSlip.generalBetResult && betSlip.lastErrorCode == '2425'" title="Min stake amount."><span trans>Min Stake amount is </span> {{ $root.partnerConfig.min_bet_stakes[$root.profile.currency_name] }} {{$root.profile.currency_name}}.</p>
                <p ng-show="quickBet.enabled && (quickBet.status === 'error') && !counterOffer.enabled" title="{{quickBet.massage|translate}}" ng-bind="quickBet.massage|translate"></p>
                <p ng-if="!conf.integrationMode && $root.profile.is_super_bet_available && betSlip.superbet.possible" ng-show="betSlip.generalBetResult && betSlip.lastErrorCode === '2200' && !betSlip.superbet.selector && (!betSlip.hasLiveEvents || betConf.allowSuperBetOnLive)">
                    <a class="underline" ng-click="togglesSuperbetSelector()" ng-show="!$root.editBet.edit" trans>Use Superbet</a>
                </p>
                <div class="remove-icon-betslip-v3" ng-click="(isBetAccepted = false) || (isBetOnHold = false) || (betSlip.generalBetResult = '') || (quickBet.status = '') || (quickBet.massage = '')"></div>
            </div>
        </div>
        <div class="counter-offer-wrapper-view-v3" ng-show="!quickBet.enabled && $root.offersCount > 0">
            <div class="superbet-contain-view-v3 active waiting-for-review">
                <div class="waiting-review-icon-v3"></div>
                <p title="Your Counter-Offer is under review" trans>Your Counter-Offer is under review</p>
                <span trans>Usually, it takes 5-10 minutes to be reviwed. Thanks for your patience :)</span>
            </div>
        </div>
        <div class="bet-notification-contain-v3" ng-if="betConf.possibleWinMessage && possibleWinValue > 0">
            <div class="notification-box-v3">
                <div class="notification-icon-v3 error-icon"></div>
                <p ng-bind="::betConf.possibleWinMessage|translate"></p>
            </div>
        </div>
        <div class="bet-notification-contain-v3" ng-show="quickBet.enabled && betSlip.stake === 0">
            <div class="notification-box-v3">
                <div class="notification-icon-v3 error-icon"></div>
                <p title="{{'Stake Amount cannot be 0'|translate}}" trans>Stake Amount cannot be 0</p>
            </div>
        </div>
        <div class="bet-notification-contain-v3" ng-show="quickBet.enabled && (quickBet.status === 'processing')">
            <div class="notification-box-v3">
                <div class="notification-icon-v3">
                    <vbet-loader class="small-progress centered-j"></vbet-loader>
                </div>
                <p title="{{'Your bet is processing'|translate}}" trans>Your bet is processing</p>
            </div>
        </div>
        <div class="bet-accept-changes-b-v3" ng-show="betSlip.bets.length && !quickBet.enabled && (conf.enableBetSlipButton === undefined || conf.enableBetSlipButton) && betSlip.mode !== 'openBets' && betSlip.mode !== 'suggested'">
            <div class="expanded-notifications-j" ng-show="!$root.editBet.edit && (eventReplace.visibilityProcess || (!showRetainsButtons && (betSlip.hasCounterOfferError || (betSlip.hasConflicts && betSlip.type.value !== 1) || betSlip.thereAreDeletedEvents && (betSlip.mode === 'betting') || !conf.header.disableRegistrationAndLogin && !env.authorized && (betSlip.mode === 'betting') || !betSlip.isBettingAllowed && (betSlip.mode === 'betting') || (env.authorized && (!freeBet.enabled && betSlip.totalStake > profile.calculatedBalance + profile.calculatedBonus) || (bonusBet.enabled && profile.bonus_money < betSlip.totalStake)) && (betSlip.mode === 'betting') || (betSlip.bookingNotAllowed && betSlip.mode === 'booking'))))">
                <ul>
                    <li ng-show="!conf.header.disableRegistrationAndLogin && !env.authorized && (betSlip.mode === 'betting')" class="guest-box" ng-class="{'no-underlines': conf.integrationMode && !enableSigninRegisterLinks}">
                        <h3 trans>To place your bet, please</h3>
                        <h4>
                            <span ng-click="openLoginForm($event);" class="underline" trans>sign in</span>
                            <span trans>or</span>
                            <span ng-click="openRegForm($event);" class="underline" trans>register</span>
                            <span trans>now!</span>
                        </h4>
                    </li>
                    <li class="bet-notification-warning" ng-show="(betSlip.mode === 'betting') && (!quickBet.enabled && (betSlip.type.value !== 1 && betSlip.bets.length < 2) || (betSlip.type.value === 3 && betSlip.bets.length < 3))">
                        <p trans>Add more events to be able to place bet</p>
                    </li>
                    <li class="bet-notification-warning" ng-show="(betSlip.mode === 'booking') && (!quickBet.enabled && (betSlip.type.value !== 1 && betSlip.bets.length < 2) || (betSlip.type.value === 3 && betSlip.bets.length < 3))">
                        <p trans>Add more events to be able to book a bet</p>
                    </li>
                    <li class="bet-notification-warning" ng-show="betSlip.hasLockedEvents">
                        <p trans>There are locked events</p>
                    </li>
                    <li class="bet-notification-error" ng-show="betSlip.hasConflicts && betSlip.type.value !== 1">
                        <p trans>Incompatible events</p>
                    </li>
                    <li class="bet-notification-error" ng-show="betSlip.type.value === 3 && betSlip.bets.length > 16">
                        <p trans>System bet can include max 16 events</p>
                    </li>
                    <li class="bet-notification-error" ng-show="betSlip.thereAreDeletedEvents">
                        <p trans>There are deleted events</p>
                    </li>
                    <li class="bet-notification-error" ng-show="!freeBet.enabled && (env.authorized && !bonusBet.enabled && betSlip.totalStake > profile.calculatedBalance + profile.calculatedBonus) && (betSlip.mode === 'betting')">
                        <p>
                            <span trans>Insufficient balance</span>
                            <a class="underline" ng-if="!conf.integrationMode && !conf.disableDepositPage" ng-click="broadcast('toggleSliderTab','deposit');$event.stopPropagation();" trans>Deposit</a>
                            <a class="underline" ng-if="conf.integrationMode && !conf.customDepositUrl  && !conf.disableDepositPage" ng-click="openPartnerDeposit()" trans>Deposit</a>
                            <a class="underline" ng-if="conf.integrationMode && conf.customDepositUrl" ng-href="{{conf.customDepositUrl + conf.availableLanguages[env.lang].short.toLowerCase()}}" target="{{conf.customDepositUrl?'_top':''}}" trans>Deposit</a>
                        </p>
                    </li>
                    <li class="bet-notification-error" ng-show="moreThanEventsMaxNumber">
                        <p>{{"Max number of events that can be added to Betslip is {1}"|translate:[conf.limitForBetslipEvents]}}</p>
                    </li>
                    <li class="bet-notification-error" ng-show="env.authorized && bonusBet.enabled && profile.bonus_money < betSlip.totalStake">
                        <p trans>Insufficient Bonus amount</p>
                    </li>
                    <li class="bet-notification-warning" ng-show="betSlip.type.value !== 1 && betSlip.hasSingleOnlyEvents">
                        <p trans>Single Only Events</p>
                    </li>
                    <li class="bet-notification-warning" ng-show="betSlip.hasEventsFromSameGame && betSlip.type.value === 1 && betConf.blockSingleGameBets">
                        <p trans>Not possible to combine events from the same game in a Single bet.</p>
                    </li>
                    <li class="bet-notification-warning" ng-show="betSlip.hasCounterOfferError">
                        <p trans>One or more of your Offers contain errors. Please review and try again.</p>
                    </li>
                    <li class="bet-notification-warning" ng-show="eventReplace.visibilityProcess">
                        <p trans>Attention, substitution</p>
                    </li>
                    <li class="bet-notification-warning" ng-show="$root.editBet.edit && $root.editBet.stakeAmount < $root.partnerConfig.min_bet_stakes[$root.profile.currency_name]">
                        <p trans>Edit bet can't be completed. Stake amount is less than the minimum bet amount.</p>
                    </li>
                </ul>
            </div>
            <div class="edit-bet-notifications" ng-show="$root.editBet.edit">
                <ul>
                    <li>
                        <p trans>Click Add Selections to start adding new selections to your existing bet.</p>
                    </li>
                    <li ng-show="betSlip.totalStake - $root.editBet.stakeAmount > profile.calculatedBalance + profile.calculatedBonus">
                        <p trans>Insufficient balance.</p>
                    </li>
                </ul>
            </div>
            <ul ng-show="!showRetainsButtons && !$root.editBet.edit">
                <li>
                    <div class="button-view-contain-v3">
                        <div class="button-info-text-view-v3" ng-show="env.authorized && betSlip.hasEmptyStakes && !betSlip.hasFilledStake && betSlip.mode === 'betting'">
                            <ul>
                                <li>
                                    <p class="bet-notification-warning" trans>Please enter stake amount</p>
                                </li>
                            </ul>
                        </div>
                        <button type="submit" class="brand-color-2" ng-class="{'pointer-events-none' : shared.isBetsInProgress}" ng-show="betSlip.mode === 'betting' && (isTherePriceChange || betSlip.thereAreEventBaseChanges)" ng-click="acceptChangesAndPlaceBets()" ng-disabled="betInProgress || (betSlip.hasConflicts && betSlip.type.value !== 1)  || !betSlip.isBettingAllowed || !env.authorized || shared.isBetsInProgress || betSlip.thereAreDeletedEvents || (env.authorized && (!freeBet.enabled && betSlip.totalStake > profile.calculatedBalance + profile.calculatedBonus) || (bonusBet.enabled && profile.bonus_money < betSlip.totalStake)) || betSlip.hasCounterOfferError || betslipRemoveBetsProcess || isAcceptAndPlaceBetStarted">
                            <span ng-show="!shared.isBetsInProgress && !isAcceptAndPlaceBetStarted" trans>Accept changes and place bets!</span>
                        </button>
                        <button type="submit" ng-class="{'pointer-events-none' : shared.isBetsInProgress}" ng-show="betSlip.mode === 'betting' && !isTherePriceChange && !betSlip.thereAreEventBaseChanges" ng-click="acceptChangesAndPlaceBets()" ng-disabled="!betSlip.bets.length || (betInProgress || (betSlip.hasConflicts && betSlip.type.value !== 1)  || !betSlip.isBettingAllowed || !env.authorized || shared.isBetsInProgress || betSlip.thereAreDeletedEvents || (env.authorized && (!freeBet.enabled && betSlip.totalStake > profile.calculatedBalance + profile.calculatedBonus) || (bonusBet.enabled && profile.bonus_money < betSlip.totalStake)) || betSlip.hasCounterOfferError || betslipRemoveBetsProcess)">
                            <span ng-show="!shared.isBetsInProgress" trans>Place bets!</span></button>
                        <button type="submit" ng-show="betSlip.mode === 'booking'" ng-click="placeBookingBet()" ng-disabled="betInProgress || (betSlip.hasConflicts && betSlip.type.value !== 1) ||  shared.isBetsInProgress || betSlip.thereAreDeletedEvents || betSlip.bookingNotAllowed">
                            <span ng-show="!shared.isBetsInProgress" trans>Get bet ID</span>
                        </button>
                        <vbet-loader ng-show="shared.isBetsInProgress || isAcceptAndPlaceBetStarted" class="small-progress"></vbet-loader>
                    </div>
                </li>
            </ul>
            <ul ng-show="showRetainsButtons && !$root.editBet.edit">
                <li>
                    <div class="button-view-contain-v3">
                        <button type="submit" ng-click="showRetainsButtons = false;" trans>Retain</button>
                    </div>
                </li>
                <li>
                    <div class="button-view-contain-v3">
                        <button type="submit" trans ng-click="showRetainsButtons = false; clearBetslip()">Continue</button>
                    </div>
                </li>
            </ul>
            <ul ng-show="$root.editBet.edit">
                <li>
                    <div class="button-view-contain-v3">
                        <button type="submit" ng-class="{'pointer-events-none' : shared.isBetsInProgress}" ng-disabled="shared.isBetsInProgress || disableAddBets.saveChanges || betSlip.bets.length < 1 || $root.editBet.stakeAmount < $root.partnerConfig.min_bet_stakes[$root.profile.currency_name] || betSlip.thereAreDeletedEvents || (betSlip.bets.length == 1 && betSlip.type.value == 2)"
                            ng-click="acceptChangesAndPlaceBets();"><span ng-show="!shared.isBetsInProgress" trans>Save changes</span></button>
                        <vbet-loader ng-show="shared.isBetsInProgress || isAcceptAndPlaceBetStarted" class="small-progress"></vbet-loader>
                    </div>
                </li>
            </ul>
        </div>
        <retrieve-events ng-if="conf.retrieveEvents && env.authorized" ng-show="betSlip.mode === 'booking'" clear-betslip="clearBetslip" set-bet-slip-type="setBetSlipType" bet-slip="betSlip"></retrieve-events>
        <ng-include src="::'templates/sport/betStatus.html'|fixPath"></ng-include>
    </div>
</div>