<div class="mixed-history-table no-padding" ng-init="balanceHistoryParams.balanceCategory =(($root.currentPage.isInCasino && conf.enableCasinoBalanceHistory) ? '1' : '0');initMixedBalanceHistory();">
    <table>
        <thead>
            <tr>
                <th class="date-id" trans>Date and ID</th>
                <th class="auto-cell">
                    <div class="cell-inner" trans>Type</div>
                </th>
                <th class="hh-cell" trans>Amount</th>
                <th class="hh-cell" trans ng-bind="(balanceHistoryFilter === 'all' ? 'Final Balance' : 'Payment Method')|translate"></th>
            </tr>
        </thead>
        <tbody ng-if="balanceHistoryFilter !== 'net'" ng-repeat="balance in balanceHistory">
            <tr>
                <td class="date-id">
                    <span>{{balance.date_time|formatDate:(conf.layoutTimeFormat[conf.sportsLayout] || 'noLocaleTranslate'):null:$root.env.timeFormat}} {{conf.layoutTimeFormat[conf.sportsLayout] ? (balance.date_time|formatDate:'hour':null:$root.env.timeFormat) : ''}}</span>
                    <span ng-show="!conf.transactionIdInBalanceHistory && balance.bet_id"><br/> ID: <a>{{balance.bet_id}}</a></span>
                    <span ng-show="conf.transactionIdInBalanceHistory && balance.transaction_id"><br/> ID: <a>{{balance.transaction_id}}</a></span>
                </td>
                <td class="auto-cell">
                    <ul class="cell-inner mixed-bet-history-flex">
                        <li class="ellipsis-text">
                            <span ng-if="balance.product_category === 2">{{ balance.game }}</span>
                            <span>{{ balance.name }}</span>
                            <span ng-show="balance.buddy_id || balance.buddy_name">: ({{balance.buddy_id}} : {{balance.buddy_name}})</span>
                        </li>
                    </ul>
                </td>
                <td class="hh-cell">
                    <div ng-show="!balance.bonus && balance.amount">
                        <!-- <span class="second-color" ng-show="balance.amount > 0">+</span> -->
                        <span class="second-color">{{balance.amount|number:conf.balanceFractionSize}}</span> {{currency_name|currency}}
                    </div>
                    <div ng-show="balance.bonus && !balance.amount"  title="Balance placed from bonus." trans="attr-only">
                        <span class="second-color" ng-show="balance.bonus > 0">+</span>
                        <span class="second-color">{{balance.bonus|number:conf.balanceFractionSize}}</span> {{currency_name|currency}}
                    </div>
                    <div ng-show="balance.bonus && balance.amount"  title="{{('Part of balance placed from bonus.'|translate) + ' (' + balance.amount + ' + ' + balance.bonus + ')'}}" >
                        <span class="second-color" ng-show="balance.bonus + balance.amount > 0">+</span>
                        <span class="second-color">{{(balance.bonus + balance.amount)|number:conf.balanceFractionSize}}</span> {{currency_name|currency}}
                    </div>
                </td>
                <td class="hh-cell">
                    <span class="second-color">{{balance.balance|number:conf.balanceFractionSize}}</span> {{currency_name|currency}}
                </td>
            </tr>
        </tbody>
        <tbody ng-if="balanceHistoryFilter === 'net'" ng-repeat="balance in netDepositHistory">
            <tr>
                <td class="date-id">
                    <span>{{::balance.Date|formatDate:(conf.layoutTimeFormat[conf.sportsLayout] || 'noLocaleTranslate'):null:$root.env.timeFormat}}</span>
                    <span ng-show="!conf.transactionIdInBalanceHistory && balance.DocumentId"><br/> ID: <a>{{::balance.DocumentId}}</a></span>
                </td>
                <td class="auto-cell">
                    <ul class="cell-inner mixed-bet-history-flex">
                        <li class="ellipsis-text" ng-bind="balance.TypeName"></li>
                    </ul>
                </td>
                <td class="hh-cell">
                    <div ng-show="balance.InAmount">
                        <span class="second-color">+{{::balance.InAmount|number:conf.balanceFractionSize}}</span> {{currency_name|currency}}
                    </div>
                    <div ng-show="balance.OutAmount">
                        <span class="second-color">-{{::balance.OutAmount|number:conf.balanceFractionSize}}</span> {{currency_name|currency}}
                    </div>
                </td>
                <td class="hh-cell">
                    <span class="second-color" ng-bind="balance.PaymentMethod"></span>
                </td>
            </tr>
        </tbody>
        <tbody ng-if="(balanceHistoryFilter === 'net' && netDepositHistory.length === 0) || (balanceHistoryFilter === 'all' && balanceHistory.length === 0)">
            <tr>
                <td colspan="9" class="second-color center-text" trans>There are no data for the selected time period.</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="load-more-j" ng-show="balanceHistoryIsMoreItemsAvailable() && balanceHistoryFilter !== 'net'"><p take-parent-scroll="true" ng-click="balanceHistoryLoadMoreInfo(); "><span trans>Load more</span></p></div>
