<div class="dashboard-view-v3" ng-init="setTitle('Dashboard')" ng-controller="classicDashboardMainController">
    <div banner-slider slug="dashboardBanners" interval="{{$root.conf.featuredGames.rotationPeriod}}" ng-hide="hideDashboardBanners" ng-class="{'dashboard-slider': !hideDashboardBanners}"></div>
    <!--Live games column dashboard-->
    <div class="live-events-column-v3" ng-controller="classicDashboardCenterController">
        <div class="live-games-list-d-v3">
            <div class="contain-pop-game-dashboard-v3" ng-include="'templates/homepage/featuredGamesSlider.html'|fixPath">
            </div>
            <div class="live-column-title-v3">
                <div class="upcoming-icon-v3"></div>
                <h2>
                    <span trans>Live now</span>
                </h2>
                <div class="dash-region-icon {{!hideRegionsInDashboard ? 'active' : ''}}" ng-click="toggleRegionFilter()" title="Disable regions" trans="attr-only">
                    <i class="region-icon-v3"></i>
                </div>
                <div class="d-arrow-icon-v3" ng-if="!hideRegionsInDashboard" ng-click="toggleSports()" ng-class="{'closed-all' : !expandedAll}"></div>
            </div>
            <vbet-loader ng-if="centerViewLoading"></vbet-loader>
            <div class="all-live-games-list-d-v3">
                <div class="live-games-column-dasboard-v3">
                    <div class="single-sport-box-v3 {{sportBlock[sport.id].expanded ? '' : 'sport-closed'}}" ng-repeat="sport in centerViewLiveData track by sport.id" ng-init="hideRegionsInDashboard ? sportBlock[sport.id].expanded = $first : sportBlock[sport.id].expanded = true">
                        <div class="sport-name-up-game-v3 {{sport.alias}}" ng-click="toggleSports(sport.id)">
                            <div class="sport-icon-v3 {{sport.alias}}"></div>
                            <h3>{{sport.name}}</h3>
                            <vbet-loader class="small-progress" ng-show="hideRegionsInDashboard && sportBlock[sport.id].isLoading"></vbet-loader>
                            <div class="arrow-view-v3"></div>
                        </div>
                        <div class="group-games-contain-v3 {{region.regionListClosed ? 'region-closed' : ''}} {{!hideRegionsInDashboard ? '' : 'no-border'}}" ng-repeat="region in sport.regions track by region.id">

                            <div class="title-championship-v3" ng-if="!hideRegionsInDashboard" ng-click="region.regionListClosed = !region.regionListClosed;region.isLoading = true;
                                    toggleItem({'sport': sport.id, 'region': region.id, 'type': 1, 'isClosed': region.regionListClosed, 'isLoading': region.isLoading});">
                                <div class="flag-view-v3 flag-icon flag-{{region.alias | removeUselessSymbolsByRegexp: '[,\' ]+': 'g': 'true'}}"></div>
                                <p><span>{{region.name}}</span></p>
                                <div class="arrow-view-v3"></div>
                            </div>
                            <div class="dashboard-live-game-competitin-v3">
                                <div class="contain-competition-dashboard-v3 {{!hideRegionsInDashboard ? '' : 'no-padding'}} {{!competitionBlock[competition.id].expanded ? 'closed' : ''}}" ng-repeat="competition in region.competitions track by competition.id" ng-init="competitionBlock[competition.id].expanded = true">
                                    <div class="title-competition-dashboard-v3" ng-click="competitionBlock[competition.id].expanded = !competitionBlock[competition.id].expanded;">
                                        <div ng-if="hideRegionsInDashboard" class="flag-view-v3 flag-icon flag-{{region.alias | removeUselessSymbolsByRegexp: '[,\' ]+': 'g': 'true'}}"></div>
                                        <h5>{{::(hideRegionsInDashboard ? (region.name + ' - ') : '')}} {{competition.name|removeParts:[sport.name]}}</h5>
                                        <div class="arrow-view-v3"></div>
                                    </div>

                                    <div class="dashboard-single-l-game-v3" ng-repeat="game in competition.games track by game.id">
                                        <ul>
                                            <li>
                                                <div class="single-game-item-v3" ng-class="{'no-events': !game.markets_count}">
                                                    <div class="team-name-1-v3" data-title="{{game.team1_name}}">
                                                        <span>{{game.info.score1}}</span>
                                                    </div>
                                                    <div class="team-name-1-v3" data-title="{{game.team2_name}}">
                                                        <span>{{game.info.score2}}</span>
                                                    </div>
                                                    <div class="game-info-mini-v3">
                                                        <p>
                                                            <span>{{game.info.current_game_state|convertSetName:sport.alias|translate}}</span>
                                                            <span trans="attr-only" title="Game time">&nbsp;{{game.info.current_game_time}}</span>
                                                            <i class="{{game.is_blocked ? 'blocked-icon-v3' : ''}}"></i>
                                                        </p>
                                                        <div class="game-info-icons-v3">
                                                            <div class="icon-separator-v3 video" ng-show="game.video_id && $root.conf.videoEnabled"></div>
                                                            <!--<div class="icon-separator-v3 tv"></div>-->
                                                            <div class="icon-separator-v3 statistic" ng-if="$root.conf.enableH2HStat &&  game.is_stat_available" ng-click="openStatistics(game); $event.stopPropagation();"></div>
                                                        </div>
                                                    </div>
                                                    <!-- end ngIf: game.type==1 -->
                                                </div>
                                            </li>
                                            <li>
                                                <div class="market-info-view-d-v3">
                                                    <div class="market-name-d-v3">
                                                        <h4 trans>Match winner</h4>
                                                    </div>
                                                    <div class="l-b column-{{game.filteredMarket[0] ? (game.filteredMarket[0].type === 'P1P2' ? 2 : 3) : 1}}" ng-if="game.filteredMarket">
                                                        <div class="single-events-b-v3
                                                            {{isEventInBetSlip(event) ? 'active' : ''}}
                                                            {{((event.price | oddConvert:'decimal') == 1 || game.is_blocked) ? 'blocked' : ''}}" ng-repeat="event in game.filteredMarket.events track by event.id" title="{{event.name}}" ng-show="event && event.name"
                                                            ng-click="bet(event, game.filteredMarket[0], game,null,additionalInfo); $event.stopPropagation();">

                                                            <i ng-if="$root.conf.boostedBets.enabled && $root.boostedBetsEventIds && $root.boostedBetsEventIds.length > 0 && $root.boostedBetsEventIds.indexOf(event.id) !== -1" title="{{'Boosted odd'|translate}}" class="boosted"></i>
                                                            <div class="max-bet-tooltip-v3" onmouseover="displayEventLimit(event)" onmouseleave="cancelDisplayEventLimit(event)" data-id="{{event.id}}" ng-class="{'maxbet-enabled': $root.env.authorized && $root.conf.displayEventsMaxBet}">
                                                            </div>
                                                            <b class="p-v" ng-show="(event.price | oddConvert:'decimal') != 1 && !openGame.is_blocked" ng-class="{'factor-top': event.price_change > 0, 'factor-bottom': event.price_change < 0}">
                                                                {{event.price|oddConvert:env.oddFormat:null:game.filteredMarket[0].display_key}}
                                                            </b>
                                                        </div>
                                                        <div class="single-events-b-v3" ng-show="!game.filteredMarket[0]"></div>
                                                    </div>
                                                    <p class="market-empty-h" ng-if="!game.filteredMarket" trans>Events not available</p>
                                                </div>
                                            </li>

                                            <li>
                                                <div class="all-markets-favorite-d-v3">
                                                    <ul>
                                                        <li>
                                                            <div class="favorite-icon-market-v3 {{$root.myGames.indexOf(game.id) !== -1 ? 'active' : ''}}" ng-click="toggleGameFavorite(game); $event.stopPropagation();"></div>
                                                        </li>
                                                        <li>
                                                            <div class="markets-count-view-v3" ng-click="goToUrl(game); $event.stopPropagation();">
                                                                <span>+{{game.markets_count}}</span>
                                                                <div class="arrow-icon-b-v3"></div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="market-additional-info text-info" additional-game-info game="game" ng-show="additionalInfo" ng-bind="additionalInfo"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Live games column dashboard END-->
    <!--upcoming games column dashboard END-->
    <div class="live-events-column-v3">
        <game-widget class="float-width" game-widget-mode="'dashboard'" sport-tabs-quantity="15" game-widget-type="'upcoming'" game-widget-title="'Upcoming games'" template-path="templates/sport/classic/center/upcoming-games.html"></game-widget>
    </div>
    <!--upcoming games column dashboard END-->
</div>